.themeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f1f23;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #18181b;
}

.middleButtons {
  display: flex;
  margin: 0 auto;
}

.rightButtons {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
}

.shareBtn,
.saveBtn {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 8px;
  padding: 4px 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.shareBtn {
  background-color: #1a5fff;
}

.shareBtn:hover {
  background-color: #2757c7;
}

.saveBtn {
  background-color: #4ade80cc;
}

.saveBtn:hover {
  background-color: #61f18ccc;
}

.cancelIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 8px;
  background: none;
  margin: 0 20px;
  cursor: pointer;
}

.cancelIcon:hover {
  transform: scale(1.1);
}

.active {
  border-radius: 6px;
  border: 1px solid #7ea6ff;
  color: #7ea6ff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}

.content {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #18181b;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #27272a;
}

.sidebar h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.themeOptions {
  display: flex;
  flex-direction: column;
}

.themeOption {
  cursor: pointer;
  text-align: center;
}

.previewSideImage {
  border: 2px solid blue;
  border-radius: 8px;
}

.previewContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
