.landingPageContainer {
  background-color: #13131a;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  position: relative;
}

/* header */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logoIcon {
  width: 2rem;
  height: 2rem;
}

.logoText {
  font-weight: bold;
  font-size: 18px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
}

.signInButton,
.createButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.signInButton {
  background-color: transparent;
  color: #1a5fff;
  border: 1px solid #1a5fff;
}

.signInButton:hover {
  background-color: #2563eb;
  color: white;
  transform: scale(1.05);
}

.createButton {
  background-color: #1a5fff;
  color: white;
  border: none;
}

.createButton:hover {
  background-color: #1e4db7;
  transform: scale(1.05);
}

/* Main Section */
.main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #4b83ff 0%, #b794f4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
  word-break: break-word;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #ffffffeb;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
}

.ctaButton {
  background-color: #1a5fff;
  color: #ffff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  box-shadow: 0px 1px 0px 0px #ffffff33 inset;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.ctaButton:hover {
  background-color: #1e4db7;
  transform: scale(1.05);
}

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.triangle {
  position: absolute;
  left: -350px;
  width: 350px;
  height: auto;
  animation: rotate 10s infinite linear;
}

.curve {
  position: absolute;
  right: -350px;
  width: 300px;
  height: auto;
  animation: upAndDown 5s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.figure {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure img {
  width: 1200px;
  height: auto;
}

/* Footer Section */
.footer {
  background-color: #1a202c;
  color: #ffffff;
  padding: 2rem 0;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.logoIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
}

.madeWith {
  font-size: 0.875rem;
}

.linksSection {
  display: flex;
  flex-wrap: wrap;
}

.linkColumn {
  margin-left: 6rem;
}

.linkColumn h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.linkColumn ul {
  list-style-type: none;
}

.linkColumn ul li {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.linkColumn ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.linkColumn ul li a:hover {
  color: #3182ce;
}

/* Media Queries */
